<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= trail.name %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="trails-page">
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/trails" class="user-button">All Trails</a>
            <a href="/user" class="user-button">User</a>
        </nav>
    </header>
    <div class="container">
        <h1 class="page-header"><%= trail.name %></h1>
        <div class="trail-details">
            <% if (trail.image) { %>
                <img src="<%= trail.image %>" alt="<%= trail.name %>">
            <% } %>
            <p>Location: <%= trail.location %></p>
            <p>Difficulty: <%= trail.difficulty %></p>
            <p>Length: <%= trail.length %> miles</p>
            <p>Description: <%= trail.description %></p>
        </div>
        <div class="trail-actions">
            <a href="/trails/<%= trail._id %>/edit" class="edit-button">Edit Trail</a>
            <form action="/user/save-trail/<%=trail._id %>" method="POST">
                <button type="submit" class="button save-button">Save Trail</button>
            </form>
            <form action="/trails/<%= trail._id %>?_method=DELETE" method="POST" class="delete-form">
                <button type="submit" class="button delete-button">Delete Trail</button>
            </form>

        </div>
    </div>
    <footer>
        <a href="/trails">Back to Trails</a>
        <a href="https://github.com/MartyV33/Whats-The-Spot.git" target="_blank">GitHub</a>
        <a href="/README" target="_blank">README</a>
    </footer>
</body>
</html>